@media screen and (min-width: 800px) {
  /* home */
  .welcome h1 {
    font-size: 2.5em;
  }

  .welcome img {
    width: 100%;
  }

  .welcome-text {
    min-width: 350px;
  }

  /* explore */
  .explore {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  .explore h2 {
    margin-top: 0;
  }

  .container-explore-img {
    margin-right: 3%;
    margin-left: 2%;
    margin-top: 8px;
  }

  .container-teacher-img {
    margin-right: 2%;
    margin-left: 5%;
  }

  .container-explore-text {
    margin-left: 2%;
  }

  .teacher-row-reverse {
    flex-direction: row-reverse;
  }

  /* exhibition */
  .orange-background {
    width: 350px;
  }

  .img-cosmo-moon {
    bottom: 80px;
    right: 15px;
  }

  .img-cosmo-moon img {
    width: 330px;
  }

  .img-evo-skeleton img {
    width: 330px;
  }

  .img-eco-mammoth {
    bottom: 270px;
    right: 10px;
  }

  .img-eco-mammoth img {
    width: 240px;
  }

  .img-eco-ants img {
    width: 330px;
  }

  /* visit */
  .container-visit {
    display: flex;
    flex-direction: row;
  }

  .visit {
    width: 100%;
  }

  /* get involved */
  .container-involved {
    display: flex;
    flex-direction: row;
  }

  .involved {
    width: 100%;
  }

  /* footer */
  .container-connected-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .container-footer-logo {
    margin-right: 30px;
  }

  .container-icon-p {
    margin-left: 30px;
  }
}
