@media screen and (min-width: 1000px) {
  /* home */
  .welcome h1 {
    font-size: 3em;
  }

  .welcome img {
    max-width: 1050px;
  }

  .welcome-mini {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-mini p {
    margin-left: 0;
    margin-right: 0;
  }

  .welcome-mini i {
    margin-right: 20px;
  }

  /* explore */
  .explore-h1 {
    margin-bottom: 20px;
  }
  /* explore, exhibition, events, visit, get involved h1*/
  .explore-h1,
  .exhibition-h1,
  .container-events,
  .visit-h1,
  .involved-h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* exhibition */
  .orange-background {
    width: 420px;
  }

  .blue-background {
    width: 300px;
  }

  .img-cosmo-telescope {
    bottom: 250px;
  }

  .img-cosmo-moon img {
    width: 400px;
  }

  .img-evo-skeleton {
    bottom: 70px;
  }

  .img-evo-skeleton img {
    width: 400px;
  }

  .img-biomed-lungs {
    bottom: 190px;
    right: 15px;
  }

  .img-biomed-lungs img {
    width: 130px;
  }

  .img-biomed-heart {
    right: 30px;
  }

  .img-biomed-heart img {
    width: 350px;
  }

  .img-robot-goggle img {
    width: 330px;
  }

  .img-eco-mammoth {
    bottom: 300px;
  }

  .img-eco-mammoth img {
    width: 290px;
  }

  .img-eco-ants img {
    width: 400px;
  }

  /* events */
  .events-h1 h1 {
    margin-bottom: 20px;
  }

  /* visit */
  .container-visit {
    justify-content: center;
  }

  .visit {
    max-width: 265px;
  }

  /* get involved */
  .involved {
    max-width: 400px;
  }

  /* footer */
  footer h2 {
    text-align: left;
    margin-left: 90px;
  }
  .container-form-connected-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .container-form {
    margin-right: 90px;
  }

  .container-icon-p {
    margin-right: 30px;
  }

  .container-footer-logo {
    margin-left: 90px;
  }

  .footer-logo {
    justify-content: left;
  }
  .footer-address-tel-email {
    align-items: flex-start;
  }
}
