@media screen and (min-width: 1000px) {
  /* home */
  .welcome h1 {
    font-size: 3em;
  }

  .welcome img {
    max-width: 1050px;
  }

  /* exhibition */
  .orange-background {
    width: 420px;
  }

  .img-cosmo-moon img {
    width: 400px;
  }

  .img-evo-skeleton {
    bottom: 70px;
    left: 15px;
  }

  .img-evo-skeleton img {
    width: 400px;
  }

  .img-biomed-lungs {
    bottom: 190px;
    right: 15px;
  }

  .img-biomed-lungs img {
    width: 150px;
  }

  .img-biomed-heart {
    right: 30px;
  }

  .img-biomed-heart img {
    width: 370px;
  }

  .img-robot-goggle {
    bottom: 100px;
    left: 35px;
  }

  .img-robot-goggle img {
    width: 330px;
  }

  .img-eco-mammoth img {
    width: 270px;
  }

  .img-eco-ants img {
    width: 400px;
  }

  /* footer */
  footer h2 {
    text-align: left;
    margin-left: 90px;
  }
  .container-form-connected-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .container-form {
    margin-right: 90px;
  }

  .container-icon-p {
    margin-right: 30px;
  }

  .container-footer-logo {
    margin-left: 90px;
  }

  .footer-logo {
    justify-content: left;
  }
  .footer-address-tel-email {
    align-items: flex-start;
  }
}
